//---------------------------------------------------------------------------
//
// Name:        pnEditorApp.rc
// Author:      w
// Created:     2013/9/16 15:36:34
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
